.main-nav {
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: #FBF2DA;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        display: block;
        padding: 33.5px 30px 33.5px 0;

        &:hover {
            background-color: #D46240;
        }
    }

    .active {
        color: #D46240;
    }
}