.promo {
  background-image: url(../images/bg-sand-castle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 235px;
    color: #fff;
    margin: 0;
  }
}

.promo-title {
  font-weight: 300;
  font-size: 116px;
  line-height: 136px;  
  text-align: center; 
  padding-top: 191px;
  margin: 0;
  font-family: 'Raleway';
  color: #fff;
}

.promo-bgcolor {
  background-color: rgba(21, 43, 60, 0.5);
}
