* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
}

.container {
    max-width: 1472px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}